

#Note: Over-riding httpd.conf settings using .htaccess is only allowed 
#if the AllowOverride Directive is set inside httpd.conf which is the default case.

# Disable directory browsing 
Options -Indexes

# Hide the contents of directories
IndexIgnore *

#Handle missing images
ErrorDocument 404 https://staging.atomjump.com/api/images/404image.jpg

RewriteEngine On
RewriteCond %{REQUEST_URI} ^/api/images/404image.jpg$
RewriteRule ^(.*?)$ /api/missing-image.test [L]


# Deny access to filenames starting with dot(.)
<FilesMatch "^\.">
Order allow,deny
Deny from all
</FilesMatch>

<filesMatch "\.(ico|gif|jpg|png)$">
  ExpiresActive On
  ExpiresDefault "access plus 11 month"
  Header append Cache-Control "private, no-transform"
</filesMatch>




#/api/missing-image.php?f=%{REQUEST_FILENAME}