

#Note: Over-riding httpd.conf settings using .htaccess is only allowed 
#if the AllowOverride Directive is set inside httpd.conf which is the default case.

# Disable directory browsing 
Options -Indexes

# Hide the contents of directories
IndexIgnore *

#Handle missing images in a cluster. CHANGE THIS BELOW
#Insert your own relative path by replacing /api/ below if your loop-server install is at a different subfolder than /api/
ErrorDocument 404 /api/missing-image.php



# Deny access to filenames starting with dot(.)
<FilesMatch "^\.">
Order allow,deny
Deny from all
</FilesMatch>

<filesMatch "\.(ico|gif|jpg|png)$">
  ExpiresActive On
  ExpiresDefault "access plus 11 month"
  Header append Cache-Control "private, no-transform"
</filesMatch>




#/api/missing-image.php?f=%{REQUEST_FILENAME}